/*****************************************/
/* Frontpage */
/*****************************************/

.pagelayout-frontpage {

    #region-main {
        background-color: transparent;
        border: none;
        padding: 0;
        margin-top: 0;
    }

    .course-item__inner {
        background-color: $theme-content-background-color;
    }

    #block-region-side-pre {
        @extend .d-flex;
        @extend .flex-wrap;
        @extend .flex-row;
        .block {
            @extend .col-xs-12;
            @extend .col-md-6;
            margin-top: 10px;
            margin-bottom: 10px;
            @include media-breakpoint-up(md) {
                margin: 10px 15px;
                width: calc(50% - 30px);
            }
        }
    }

    #frontpage-course-list {
        padding-top: 60px;
        padding-bottom: 60px;

        h2 {
            text-align: center;

            &:after {
                display: block;
                width: 260px;
                height: 3px;
                margin: 40px auto;
                background-color: $arm-blue;
                content: '';
            }
        }

        .course-item {
            &__inner {
                &__content {
                    @include media-breakpoint-up(lg) {
                        padding-left: 50px;
                        padding-right: 50px;
                    }

                   
                }
            }
        }
    }

}
