{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template format_designer/call_to_action

    Displays the course module card layout

    Example context (json):
    {
        "modurl": "http://moodleurl/course/format/designer/classes/output/call_to_action.php",
        "isrestricted": "false"
    }
}}
{{#isrestricted}}
<a href="javascript:void(0);"> <span class="font-weight-bold" style="{{#actiontextcolor}} {{actiontextcolor}} {{/actiontextcolor}}">{{{calltoactionlabel}}}</span></a>
{{/isrestricted}}
{{^isrestricted}}
{{#modurl}}
<a href="{{modurl}}"> <span class="font-weight-bold" style="{{#actiontextcolor}} {{actiontextcolor}} {{/actiontextcolor}}">{{{calltoactionlabel}}}</span></a>
{{/modurl}}
{{/isrestricted}}