{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/search_input

    Simple search input.

    Example context (json):
    {
        "action": "https://moodle.local/admin/search.php",
        "extraclasses": "my-2",
        "inputname": "search",
        "inform": false,
        "searchstring": "Search settings",
        "value": "policy",
        "btnclass": "primary",
        "query": "themedesigner",
        "hiddenfields": [
            {
                "name": "context",
                "value": "11"
            }
        ]
    }
}}
<div class="simplesearchform {{ extraclasses }}">
    {{^inform}}
    <form autocomplete="off" action="{{ action }}" method="get" accept-charset="utf-8" class="mform form-inline w-100">
    {{/inform}}
    {{#hiddenfields}}
        <input type="hidden" name="{{ name }}" value="{{ value }}">
    {{/hiddenfields}}
    <div class="search-input-group d-inline-flex justify-content-between w-100">
        <label for="searchinput-{{uniqid}}">
            <span class="sr-only">{{{ searchstring }}}</span>
        </label>

        <span class="search-input-icon">
            <svg width="20" height="20" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19.25 19.25L15.5 15.5M4.75 11C4.75 7.54822 7.54822 4.75 11 4.75C14.4518 4.75 17.25 7.54822 17.25 11C17.25 14.4518 14.4518 17.25 11 17.25C7.54822 17.25 4.75 14.4518 4.75 11Z"></path>
            </svg>
        </span>

        <input type="text"
           id="searchinput-{{uniqid}}"
           class="search-input w-100"
           placeholder="{{ searchstring }}"
           aria-label="{{ searchstring }}"
           name="{{ inputname }}"
           data-region="input"
           autocomplete="off"
           value="{{ query }}"
        >
        <button type="submit" class="search-input-btn">
            <svg width="20" height="20" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.75 6.75L19.25 12L13.75 17.25"></path>
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H4.75"></path>
            </svg>
            <span class="sr-only">{{ searchstring }}</span>
        </button>

    </div>
    {{#otherfields}}
        <div  class="ml-2">{{{ otherfields }}}</div>
    {{/otherfields}}
{{^inform}}
    </form>
{{/inform}}
</div>
