{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_iomadmoon/tmpl-dashboard
    
    Context variables required for this template:
    * sitename - The name of the site
    * output - The core renderer for the page
    * bodyattributes - attributes for the body tag as a string of html attributes
    * sidepreblocks - HTML for the blocks
    * hasblocks - true if there are blocks on this page
    * navdraweropen - true if the nav drawer should be open on page load
    * regionmainsettingsmenu - HTML for the region main settings menu
    * hasregionmainsettingsmenu - There is a region main settings menu on this page.

    Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         },
        "bodyattributes":"",
        "sidepreblocks": "<h2>Blocks html goes here</h2>",
        "hasblocks":true,
        "navdraweropen":true,
        "regionmainsettingsmenu": "",
        "hasregionmainsettingsmenu": false
    }
}}
{{> theme_iomadmoon/head }}

<body {{{ bodyattributes }}}>
    {{> core/local/toast/wrapper}}

    <div id="page-wrapper" class="d-print-block">

        {{{ output.standard_top_of_body_html }}}
        {{^hiddensidebar}}
            {{> theme_iomadmoon/nav-drawer }}
        {{/hiddensidebar}}

        {{#hasblocks}}
            {{< theme_iomadmoon/drawer }}
                {{$id}}space-drawers-blocks{{/id}}
                {{$drawerclasses}}rui-right-drawer rui-blocks-column rui-blocks-area drawer drawer-right {{#blockdraweropen}} show{{/blockdraweropen}}{{/drawerclasses}}
                {{$drawercontent}}
                    <section class="d-print-none" aria-label="{{#str}}blocks{{/str}}">
                        {{{ addblockbutton }}}
                        {{{ sidepreblocks }}}
                    </section>
                {{/drawercontent}}
                {{$drawerpreferencename}}drawer-open-block{{/drawerpreferencename}}
                {{$forceopen}}{{#forceblockdraweropen}}1{{/forceblockdraweropen}}{{/forceopen}}
                {{$drawerstate}}show-drawer-right{{/drawerstate}}
                {{$tooltipplacement}}left{{/tooltipplacement}}
                {{$drawercloseonresize}}1{{/drawercloseonresize}}
                {{$closebuttontext}}{{#str}}closeblockdrawer, core{{/str}}{{/closebuttontext}}
            {{/ theme_iomadmoon/drawer}}
        {{/hasblocks}}
        
        {{> theme_iomadmoon/navbar }}

        <div id="page" data-region="mainpage" data-usertour="scroller" class="drawers {{#blockdraweropen}}show-hidden-drawer{{/blockdraweropen}} {{#blockdraweropen}}show-drawer-right{{/blockdraweropen}} drag-container">
            <div id="topofscroll" class="main-inner">
                <div id="page-content" class="page-content wrapper-page">

                    <div class="drawer-toggles d-flex">
                        {{#hasblocks}}
                            <div id="sidepreopen-control" class="drawer-toggler drawer-right-toggle ml-auto d-print-none">
                                <button
                                    class="btn border-0 icon-no-margin drawertoggle btn-close-drawer--right"
                                    data-toggler="drawers"
                                    data-action="toggle"
                                    data-target="space-drawers-blocks"
                                    data-toggle="tooltip"
                                    data-placement="right"
                                    title="{{#str}}opendrawerblocks, core{{/str}}"
                                >
                                    <span class="sr-only">{{#str}}opendrawerblocks, core{{/str}}</span>
                                    <span class="dir-rtl-hide">
                                        <svg width="20" height="20" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;">
                                            <g transform="matrix(1,0,0,1,-2,0)">
                                                <path d="M18.333,15L18.333,5C18.333,3.629 17.205,2.5 15.833,2.5L14.167,2.5C12.795,2.5 11.667,3.629 11.667,5L11.667,15C11.667,16.371 12.795,17.5 14.167,17.5L15.833,17.5C17.205,17.5 18.333,16.371 18.333,15Z" style="fill:none;fill-rule:nonzero;stroke:currentColor;stroke-width:1.67px;" />
                                            </g>
                                            <g transform="matrix(1,0,0,1,-2,0)">
                                                <path d="M11.667,10L5,10M5,10L7.5,7.5M5,10L7.5,12.5" style="fill:none;fill-rule:nonzero;stroke:currentColor;stroke-width:1.25px;stroke-linecap:round;stroke-linejoin:round;" />
                                            </g>
                                        </svg>
                                    </span>
                                    <span class="dir-ltr-hide">
                                        <svg width="20" height="20" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;">
                                            <g transform="matrix(1,0,0,1,-2,0)">
                                                <path d="M18.333,15L18.333,5C18.333,3.629 17.205,2.5 15.833,2.5L14.167,2.5C12.795,2.5 11.667,3.629 11.667,5L11.667,15C11.667,16.371 12.795,17.5 14.167,17.5L15.833,17.5C17.205,17.5 18.333,16.371 18.333,15Z" style="fill:none;fill-rule:nonzero;stroke:currentColor;stroke-width:1.67px;" />
                                            </g>
                                            <g transform="matrix(1,0,0,1,-2,0)">
                                                <path d="M11.667,10L5,10M5,10L7.5,7.5M5,10L7.5,12.5" style="fill:none;fill-rule:nonzero;stroke:currentColor;stroke-width:1.25px;stroke-linecap:round;stroke-linejoin:round;" />
                                            </g>
                                        </svg>                            
                                    </span>
                                </button>
                            </div>
                        {{/hasblocks}}
                    </div>

                    {{#secondarymoremenu}}
                        <div class="secondary-navigation d-print-none">
                            {{> core/moremenu}}
                        </div>
                    {{/secondarymoremenu}}

                    {{{coursepageinformationbanners}}}
                    <div class="wrapper-header">
                        {{{ output.simple_header }}}

                        {{#headeractions}}
                            <div class="header-actions-container ml-1" data-region="header-actions-container">
                                <div class="header-action">{{{.}}}</div>
                            </div>
                        {{/headeractions}}
                        {{{pageheadingbutton}}}
                    </div>

                    <div id="region-main-box" class="region-main-wrapper">
                        <section id="region-main" class="region-main-content {{#hassidecourseblocks}}has-blocks{{/hassidecourseblocks}}" aria-label="{{#str}}content{{/str}}">

                            {{#hasregionmainsettingsmenu}}
                                <div class="region_main_settings_menu_proxy"></div>
                            {{/hasregionmainsettingsmenu}}
                            {{{ output.course_content_header }}}
                            {{#headercontent}}
                                {{> core/activity_header }}
                            {{/headercontent}}
                            {{#overflow}}
                                <div class="container-fluid tertiary-navigation">
                                    <div class="navitem">
                                        {{> core/url_select}}
                                    </div>
                                </div>
                            {{/overflow}}

                            {{#dashboardblock1}}<div id="dashboardblock1" class="mt-4">{{{ dashboardblock1 }}}</div>{{/dashboardblock1}}

                            <div class="rui-dashboard-top">
                                <div id="blocks-dashboardtopblock" class="col-12 px-0">
                                    {{{ dtopblocks }}}
                                </div>
                                <div class="rui-dashboard-main mb-4">{{{ output.main_content }}}</div>
                            </div>

                            {{#hasonecol}}
                                <div id="blocks-dashboardonecol" class="col-12 rui-blocks-area px-0">
                                    {{{ dleftblocks }}}
                                    {{{ dmiddleblocks }}}
                                    {{{ drightblocks }}}
                                </div>
                            {{/hasonecol}}

                            {{^hasonecol}}

                                <div class="has-sidecourseblocks d-inline-flex flex-wrap justify-content-between w-100">
                                    {{#hasleftcolumn}}
                                        {{#hasdleftblocks}}
                                            <div id="blocks-dashboardleftblock" class="{{#hastwocol}}{{customdcolsize}}{{/hastwocol}} rui-blocks-area-sm">
                                                {{{ dleftblocks }}}
                                                <div class="mt-3">{{{ drightblocks }}}</div>
                                            </div>
                                        {{/hasdleftblocks}}
                                    {{/hasleftcolumn}}

                                    {{#hasdmiddleblocks}}
                                        <div id="blocks-dashboardmiddleblock" class="wrapper-blocks-db mx-0 rui-blocks-area">
                                            {{{ dmiddleblocks }}}
                                        </div>
                                    {{/hasdmiddleblocks}}

                                    {{#hasrightcolumn}}
                                        {{#hasdrightblocks}}
                                            <div id="blocks-dashboardrightblock" class="{{#hastwocol}}{{customdcolsize}}{{/hastwocol}} rui-blocks-area-sm">
                                                {{{ drightblocks }}}
                                                <div class="mt-3">{{{ dleftblocks }}}</div>
                                            </div>
                                        {{/hasdrightblocks}}
                                    {{/hasrightcolumn}}
                                </div>

                            {{/hasonecol}}

                            {{#hasdbottomblocks}}
                                <div class="rui-dashboard-bottom">
                                    <div data-region="blocks-dashboardbottomblock" class="col-12 p-0">
                                        {{{ dbottomblocks }}}
                                    </div>
                                </div>
                            {{/hasdbottomblocks}}

                            {{#dashboardblock2}}<div id="dashboardblock2" class="mt-4">{{{ dashboardblock2 }}}</div>{{/dashboardblock2}}

                        </section>
                    </div>
                </div>
            </div>
            {{> theme_iomadmoon/footer }}
        </div>

        {{{ output.standard_after_main_region_html }}}

    </div>

</body>

</html>
{{#js}}
    M.util.js_pending('theme_iomadmoon/loader');
    require(['theme_iomadmoon/loader', 'theme_iomadmoon/drawer'], function(Loader, Drawer) {
    Drawer.init();
    M.util.js_complete('theme_iomadmoon/loader');
    });
{{/js}}