/** This is the CSS for the company manager control **/
.path-blocks-iomad_company_admin .addremovetable {width: 100%;}
.path-blocks-iomad_company_admin .addremovetable td {vertical-align: top;padding: 0.2em 0.3em}
.path-blocks-iomad_company_admin .addremovetable p {text-align: left;margin: 0.2em 0;}
.path-blocks-iomad_company_admin .addremovetable #existingcell,
.path-blocks-iomad_company_admin .addremovetable #potentialcell {width: 42%;}
.path-blocks-iomad_company_admin .addremovetable #existingcell label,
.path-blocks-iomad_company_admin .addremovetable #potentialcell label {font-weight: bold;}
.path-blocks-iomad_company_admin .addremovetable #buttonscell {width: 16%;}
.path-blocks-iomad_company_admin .addremovetable #buttonscell #add,
.path-blocks-iomad_company_admin .addremovetable #buttonscell #remove {width: 100%;margin: 0.3em 0;padding: 0.5em 0;}
.path-blocks-iomad_company_admin .addremovetable #buttonscell p {margin: 0.3em 0;}
.path-blocks-iomad_company_admin .addremovetable #buttonscell #assignoptions {font-size: 0.75em;}
.path-blocks-iomad_company_admin .addremovetable #buttonscell #assignoptions .collapsibleregioncaption {font-weight: bold;}
.path-blocks-iomad_company_admin .addremovetable #buttonscell #addcontrols {margin-top: 3em;height: 13em;}

.path-blocks-iomad_company_admin .addremovetable #potentialmanagers_wrapper,
.path-blocks-iomad_company_admin .addremovetable #currentmanagers_wrapper,
.path-blocks-iomad_company_admin .addremovetable #potentialcourses_wrapper,
.path-blocks-iomad_company_admin .addremovetable #currentcourses_wrapper {width: 100%;}
.path-blocks-iomad_company_admin .addremovetable #potentialmanagers_wrapper label,
.path-blocks-iomad_company_admin .addremovetable #currentmanagers_wrapper label,
.path-blocks-iomad_company_admin .addremovetable #potentialcourses_wrapper label,
.path-blocks-iomad_company_admin .addremovetable #currentcourses_wrapper label {font-weight: normal;}

/** course selector **/
.courseselector select {width: 100%;}
.courseselector div {margin-top: 0.2em;}
.courseselector div label {margin-right: 0.3em;}
#courseselector_options .collapsibleregioncaption {font-weight: bold;}
#courseselector_options p {margin:0.2em 0;text-align:left;}
#courseselector_options { font-size: 0.75em; }

/** online users block **/
.block_iomad_online_users .content .list li.listentry {font-size:0.75em;}
.block_iomad_online_users .content .list li.listentry img {border:#888}

/** mod/courseclassroom */
.courseclassroom th,
.courseclassroom td { text-align:left; padding: .2em .5em .2em 0; }
.companycourseuserstable, .companycoursetable, .companymanagertable, .companyusertable {
  width:100%;
}
.courseselector select {
  width:100%;
}
.companycourseuserstable #buttonscell , .companycoursetable #buttonscell, .companymanagertable #buttonscell, .companyusertable #buttonscell {
  width:16%;
}

.companycourseuserstable #existingcell, .companycourseuserstable #potentialcell, .companycoursetable #existingcell, .companycoursetable #potentialcell, .companymanagertable #existingcell, .companymanagertable #potentialcell, .companyusertable #existingcell, .companyusertable #potentialcell {
  width:42%;
}

.companycourseuserstable #buttonscell #add, .companycourseuserstable #buttonscell #remove, .companycoursetable #buttonscell #add, .companycoursetable #buttonscell #remove, .companymanagertable #buttonscell #add, .companymanagertable #buttonscell #remove, .companyusertable #buttonscell #add, .companyusertable #buttonscell #remove {
  margin-bottom:0.3em;
  margin-left:0;
  margin-right:0;
  margin-top:0.3em;
  padding-bottom:0.5em;
  padding-left:0;
  padding-right:0;
  padding-top:0.5em;
  width:100%;
}
.navbar-text a {
  color: #f75701;
}
#page-header h1 {
  font-family: iomad;
  font-size: 40px;
  font-weight: normal;
  color: #f75701;
}
#region-main {
  background-color: #ffffff;
  padding: 5px 5px 5px 5px;
  border: 2px solid #A8A8A8;
  -webkit-box-shadow: rgba(0, 0, 0, 0.0470588) 0 1px 1px inset;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.0470588) 0 1px 1px inset;
}
.iomad_block_title {
  color: #f75701;
  font-size: 26px;
  text-transform: uppercase;
  font-family: iomad;
  font-weight: normal;
}
.block .header .title h2 {
  color: #f75701;
  font-size: 26px;
  text-transform: uppercase;
  font-family: iomad;
  font-weight: normal;
}
.block .content h3 {
  color: #f75701;
  font-size: 26px;
  text-transform: uppercase;
  font-family: iomad;
  font-weight: normal;
}
.block {
  border: 2px solid #a8a8a8;
  background-color: #ffffff;
}
body {
  background-color: #555555;
}
#page-footer a {
  color: #ffffff;
}
#page-footer {
  color: #f75701;
  border-top-width: 0px;
}

#sitelogo {
    float: left;
    width:100px;
    padding-bottom: 10px;
}

#siteheading {
    float: left;
    left: 100px;
}

#clientlogo {
    float: right;
    width: 100px;
}
