<div class="above-tiles-buttons text-right{{^section_zero_show}} section-zero-empty{{/section_zero_show}}">
    {{#section_zero_show}}
        <a class="sectionbutton buttonhidesec0 open float-right ml-1" href="#" data-section="0">
            <span class="sec-zero-open-icon justify-content-center align-items-center h-100" title="{{#str}}close, format_tiles{{/str}}">
                {{#pix}}close, format_tiles, {{#str}}close, format_tiles{{/str}}{{/pix}}
            </span>
            <span class="sec-zero-closed-icon justify-content-center align-items-center h-100" title="{{#str}}expand, format_tiles{{/str}}">
                {{#pix}}sort, format_tiles, {{#str}}expand, format_tiles{{/str}}{{/pix}}
            </span>

        </a>
    {{/section_zero_show}}
    {{#jsnavadminallowed}}
        <div class="btn-group">
            <a type="button" class="sectionbutton align-top" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{{#str}}controls, format_tiles{{/str}}">
                <span id="sec-zero-closed-icon" class="d-flex justify-content-center align-items-center h-100">
                    <svg width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M13 12C13 12.5523 12.5523 13 12 13C11.4477 13 11 12.5523 11 12C11 11.4477 11.4477 11 12 11C12.5523 11 13 11.4477 13 12Z"></path>
                        <path fill="currentColor" d="M13 8C13 8.55228 12.5523 9 12 9C11.4477 9 11 8.55228 11 8C11 7.44772 11.4477 7 12 7C12.5523 7 13 7.44772 13 8Z"></path>
                        <path fill="currentColor" d="M13 16C13 16.5523 12.5523 17 12 17C11.4477 17 11 16.5523 11 16C11 15.4477 11.4477 15 12 15C12.5523 15 13 15.4477 13 16Z"></path>
                    </svg>
                </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="{{{config.wwwroot}}}/course/view.php?id={{courseid}}&stopjsnav=1">
                    {{#jsnavuserenabled}}
                        {{#pix}}toggle-on, format_tiles, {{#str}}jsactivate, format_tiles{{/str}}{{/pix}}{{#str}}jsactivate, format_tiles{{/str}}
                    {{/jsnavuserenabled}}
                    {{^jsnavuserenabled}}
                        {{#pix}}toggle-off, format_tiles, {{#str}}jsdeactivate, format_tiles{{/str}}{{/pix}}{{#str}}jsdeactivate, format_tiles{{/str}}
                    {{/jsnavuserenabled}}
                </a>
            </div>
        </div>
    {{/jsnavadminallowed}}
</div>
