{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

 * @package   block_iomad_mycourses
 * @copyright 2021 Derick Turner
 * @author    Derick Turner
 * @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
{{!
    @template block_iomad_mycourses/main

    This template renders the main content area for the IOAMD mycourses block.

    Example context (json):
    {}
}}
<div class="buttoncontrols" style="display:inline-flex;">
  <div class="dropdown show" style='padding-right: 5px'>
    <a class="btn btn-outline-secondary dropdown-toggle"
       href="#"
       role="button"
       id="iomad_mycoursesdropdownMenuLink"
       data-toggle="dropdown"
       aria-haspopup="true"
       aria-expanded="false">
      {{#str}} sort {{/str}}
    </a>

    <div class="dropdown-menu" aria-labelledby="iomad_mycoursesdropdownMenuLink">
        <a class="dropdown-item"
            data-action="changeselect"
            data-name="sort_preference"
            data-value="coursefullname"
            href="{{baseurl}}">
            {{#str}} name {{/str}}
        </a>
        <a class="dropdown-item"
        data-action="changeselect"
        data-name="sort_preference"
        data-value="timeenrolled"
        href="{{baseurl}}">
        {{#str}} date {{/str}}
    </a>
    </div>
  </div>
  <div class="dropdown show" style='padding-right: 5px'>
    <a class="btn btn-outline-secondary dropdown-toggle"
       href="#"
       role="button"
       id="iomad_mycoursesdropdownMenuLinkorder"
       data-toggle="dropdown"
       aria-haspopup="true"
       aria-expanded="false">
      {{#str}} order {{/str}}
    </a>

    <div class="dropdown-menu" aria-labelledby="iomad_mycoursesdropdownMenuLinkorder">
        <a class="dropdown-item"
            data-action="changeselect"
            data-name="sortdir_preference"
            data-value="ASC"
            href="{{baseurl}}">
            {{#str}} asc {{/str}}
        </a>
        <a class="dropdown-item"
            data-action="changeselect"
            data-name="sortdir_preference"
            data-value="DESC"
            href="{{baseurl}}">
            {{#str}} desc {{/str}}
        </a>
    </div>
  </div>
  <div class="dropdown show">
    <a class="btn btn-outline-secondary dropdown-toggle"
       href="#"
       role="button"
       id="iomad_mycoursesdropdownMenuLinktype"
       data-toggle="dropdown"
       aria-haspopup="true"
       aria-expanded="false">
      {{#viewlist}}
          {{#str}} list, block_myoverview {{/str}}
      {{/viewlist}}
      {{#viewcard}}
          {{#str}} card, block_myoverview {{/str}}
      {{/viewcard}}
    </a>

    <div class="dropdown-menu" aria-labelledby="iomad_mycoursesdropdownMenuLinktype">
        <a class="dropdown-item"
            data-action="changeselect"
            data-name="view_preference"
            data-value="list"
            href="{{baseurl}}">
            {{#str}} list, block_myoverview {{/str}}
        </a>
        <a class="dropdown-item"
            data-action="changeselect"
            data-name="view_preference"
            data-value="card"
            href="{{baseurl}}">
            {{#str}} card, block_myoverview {{/str}}
        </a>
    </div>
  </div>
</div>

{{#mandatoryselectuse}}
    <a
        id="flagmandatorylink"
        class="btn btn-outline-secondary float-right"
        role="button"
        data-action="changeselect"
        data-name="mandatory_preference"
        data-value={{mandatoryvalue}}
        href="{{{baseurl}}}">
        {{#mandatoryonly}}
            {{#str}}allcourses, block_iomad_company_admin{{/str}}
        {{/mandatoryonly}}
        {{^mandatoryonly}}
            {{#str}}mandatoryonly, block_iomad_mycourses{{/str}}
        {{/mandatoryonly}}
    </a>&nbsp
{{/mandatoryselectuse}}

{{#downloadcerts}}
    <a
        class="btn btn-outline-secondary float-right"
        role="button"
        id="downloadcourseslink"
        href="{{{downloadcertslink}}}">
        {{#str}}downloadcertificates, block_iomad_company_admin{{/str}}
    </a>
{{/downloadcerts}}
<div id="block-iomad-mycourses-view-{{uniqid}}" class="block-iomad-mycourses" data-region="iomad_mycourses">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link {{#viewingavailable}}active{{/viewingavailable}}"
                      href="#iomad_mycourses_available_view"
                      role="tab"
                      data-bs-toggle="tab"
                      data-tabname="available"
                      aria-selected="{{#viewingavailable}}true{{/viewingavailable}}{{^viewingavailable}}false{{/viewingavailable}}">
                {{#str}} availableheader, block_iomad_mycourses {{/str}}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{#viewinginprogress}}active{{/viewinginprogress}}"
                      href="#iomad_mycourses_inprogress_view"
                      role="tab"
                      data-bs-toggle="tab"
                      data-tabname="inprogress"
                      aria-selected="{{#viewinginprogress}}true{{/viewinginprogress}}{{^viewinginprogress}}false{{/viewinginprogress}}">
                {{#str}} inprogressheader, block_iomad_mycourses {{/str}}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{#viewingcompleted}}active{{/viewingcompleted}}"
                      href="#iomad_mycourses_completed_view"
                      role="tab"
                      data-bs-toggle="tab"
                      data-tabname="completed"
                      aria-selected="{{#viewingcompleted}}true{{/viewingcompleted}}{{^viewingcompleted}}false{{/viewingcompleted}}">
                {{#str}} completedheader, block_iomad_mycourses {{/str}}
            </a>
        </li>
        {{#usemandatory}}
            <li class="nav-item">
                <a class="nav-link {{#viewingmandatory}}active{{/viewingmandatory}}"
                          href="#mycourses_mandatory_view"
                        role="tab"
                        data-bs-toggle="tab"
                      data-tabname="mandatory"
                        aria-selected="{{#viewingmandatory}}true{{/viewingmandatory}}{{^viewingmandatory}}false{{/viewingmandatory}}">
                    {{#str}} mandatoryheader, block_iomad_mycourses {{/str}}
                </a>
            </li>
        {{/usemandatory}}
    </ul>
    <div class="tab-content content-centred">
        <div role="tabpanel" class="tab-pane {{#viewingavailable}}active{{/viewingavailable}}" id="iomad_mycourses_available_view">
            {{#viewlist}}
                {{> block_iomad_mycourses/available-view }}
            {{/viewlist}}
            {{#viewcard}}
                {{> block_iomad_mycourses/available-card-view }}
            {{/viewcard}}
        </div>
        <div role="tabpanel" class="tab-pane {{#viewinginprogress}}active{{/viewinginprogress}}" id="iomad_mycourses_inprogress_view">
            {{#viewlist}}
                {{> block_iomad_mycourses/inprogress-view }}
            {{/viewlist}}
            {{#viewcard}}
                {{> block_iomad_mycourses/inprogress-card-view }}
            {{/viewcard}}
        </div>
        <div role="tabpanel" class="tab-pane {{#viewingcompleted}}active{{/viewingcompleted}}" id="iomad_mycourses_completed_view">
            {{#viewlist}}
                {{> block_iomad_mycourses/completed-view }}
            {{/viewlist}}
            {{#viewcard}}
                {{> block_iomad_mycourses/completed-card-view }}
            {{/viewcard}}
        </div>
        {{#usemandatory}}
            <div role="tabpanel" class="tab-pane {{#viewingmandatory}}active{{/viewingmandatory}}" id="mycourses_mandatory_view">
                {{> block_iomad_mycourses/mandatory-view }}
            </div>
        {{/usemandatory}}
    </div>
</div>
{{#js}}
require(['jquery', 'block_iomad_mycourses/tab_preferences'], function($, TabPreferences) {
    var root = $('#block-iomad-mycourses-view-{{uniqid}}');
    TabPreferences.registerEventListeners(root);
});
{{/js}}
