{{!
 * @package   block_iomad_company_admin
 * @copyright 2021 Derick Turner
 * @author    Derick Turner
 * @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
 }}
<h4 class="card-title">Admin tools</h4>
<div class="row no-gutters pb-3 mb-3">
    <!-- <div class="alert alert-info">
           {{#str }}currentcompany, block_iomad_company_admin,{{ companyselect.companyname }}{{/str }}
    </div> -->
   {{^ companyselect.onecompany }}
       <div class="col-lg-6 col-md-12">
           {{{ companyselect.selectform }}}
       </div>
       <div class="col-lg-6 col-md-12 text-right">
           {{{ companyselect.suspended }}}
       </div>
   {{/ companyselect.onecompany }}
</div>

<div class="m-t-2">
    {{> block_iomad_company_admin/tabs }}
    <div class="tab-content" id="iomadDashboardTabContent">
        {{# panes }}
            <div class="tab-pane fade {{# selected }}show active{{/ selected }} mt-3" id="{{ category }}" role="tabpanel" aria-labelledby="{{ category }}-tab">
                <div class="rui-iomadlink-container">{{> block_iomad_company_admin/menuitem }}</div>
            </div>
        {{/ panes }}
    </div>
</div>


