{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_course/activityinstance

    Activity completion selector.

    Example context (json):
    {
        "activities": [{
            "cmid": "4",
            "modname": "Test activity",
            "icon": "https://raw.githubusercontent.com/moodle/moodle/master/mod/feedback/pix/icon.png",
            "completionstatus": {
                "string": "Manual",
                "icon": "https://raw.githubusercontent.com/moodle/moodle/master/pix/i/completion-manual-enabled.png"
            }
        }]
    }
}}
{{#activities}}
<div class="row my-1 p-2 no-gutters border rounded">
    <div class="activityinstance col-6">
        <div class="mod-indent-outer"></div>
        <div>
            {{#canmanage}}
            <div class="custom-control custom-switch mb-2">
                <input class="custom-control-input" type="checkbox" id="selectactivity_{{cmid}}" name="cmid[]" data-section="{{sectionnumber}}" value="{{cmid}}" aria-label="{{#str}}checkactivity, completion, {{{modname}}}{{/str}}">
                <label class="custom-control-label" for="selectactivity_{{cmid}}">
                    {{#str}}select, completion{{/str}} {{modname}}
                </label>
            </div>
            {{/canmanage}}
            <a href="{{url}}" class="activityinstance-title">
                <img src="{{icon}}" class="activityicon" alt=" " role="presentation" />
                <span class="activity-name ml-2">{{{modname}}}</span>
            </a>
        </div>
    </div>
    <div class="activity-completionstatus col-6" id="completionstatus_{{cmid}}">
        <div class="d-inline-flex align-items-center">
            {{#completionstatus.icon}}
                {{{completionstatus.icon}}}
            {{/completionstatus.icon}}
            {{^completionstatus.icon}}
                <span class="ml-3"></span>
            {{/completionstatus.icon}}
            <span class="text-muted muted ml-2">{{{completionstatus.string}}}</span>
        </div>
    </div>
</div>
{{/activities}}

