{{#slides}}
    {{#data}}
        {{#visible}}
            <div class="carousel-item {{#first}}active{{/first}}" style="background-image: url({{{image}}})">
                <div class="carousel-item__inner">
                    <div class="container">
                        <div class="col-lg-6">
                            {{#title}}
                                <h1>
                                    {{{title}}}
                                </h1>
                            {{/title}}
                            {{#summary}}
                                <p>
                                    {{{summary}}}
                                </p>
                            {{/summary}}
                            {{#buttonUrl}}
                                <a class="btn btn-primary" href="{{{buttonUrl}}}">{{{buttonText}}} <i class="fas fa-angle-right"></i></a>
                            {{/buttonUrl}}
                        </div>
                    </div>
                </div>
            </div>
        {{/visible}}
    {{/data}}
{{/slides}}