<!-- Frontpage Content Section -->
<section class="wrapper frontpage-content">
    <div class="container">
        {{#title}}
            <h2>{{{title}}}</h2>
        {{/title}}
        {{{text}}}
    </div>
</section>