{{#items}}
    {{#data}}
        {{#display}}
            <div class="col-xs-12 col-lg-4 quicklink-item">
                <div class="inner">
                    <figure class="quicklink-item__image">
                        {{#hasimg}}
                            <img src="{{{image}}}" alt="">
                        {{/hasimg}}
                    </figure>
                    <div class="quicklink-item__content">
                        {{#title}}
                            <header>
                                <span class="title-small">
                                    {{{titleSmall}}}
                                </span>
                                <h3>
                                    {{{title}}}
                                </h3>
                            </header>
                        {{/title}}
                        {{#text}}
                            <p>
                                {{{text}}}
                            </p>
                        {{/text}}
                        {{#url}}
                            <footer>
                                <a class="btn" href="{{{url}}}">{{{linkText}}} <i class="fas fa-angle-right"></i></a>
                            </footer>
                        {{/url}}
                    </div>
                </div>
            </div>
        {{/display}}
    {{/data}}
{{/items}}