<!-- Quicklinks -->
<section class="wrapper wrapper--white quicklink-section" style="background-color: {{bgcolor}};">
    <div class="container">
        <div class="row">
            <div class="quicklinks d-flex flex-row flex-wrap">
                {{#heading}}
                    <div class="quicklink-heading">
                        <h2>
                            {{{heading}}}
                        </h2>
                    </div>
                {{/heading}}
                {{> theme_iomadarmm/component-quicklinks-item}}
            </div>
        </div>
    </div>
</section>