<div class="search-input-form" id="{{id}}">
    <form class="form-inline" action="{{{searchurl}}}">
        <div class="form-group">
            <label for="id_q_{{id}}" class="accesshide">{{{labeltext}}}</label>
            <input type="text" name="q" placeholder="{{{inputplaceholder}}}" id="id_q_{{id}}" class="form-control hidden-md-down">
            <button class="btn btn-primary"><i class="fa fa-search"></i></button>
        </div>    
    </form>
</div>