<section class="wrapper wrapper--white" style="background-color: {{bgcolor}}">
    <div class="container">
        <div id="logo-carousel" class="logo-carousel">
            {{> theme_iomadarmm/logo-carousel-item }}
        </div>
    </div>
</section>