{{#data}}
    {{#image}}
        <div class="logo-item">
            {{#image_url}}
                <a href="{{image_url}}" target="{{image_target}}">
            {{/image_url}}        
                    <figure>
                        <div class="logo-img" style="background-image: url({{{image}}});">
                    </figure>
            {{#image_url}}
                </a>
            {{/image_url}}
        </div>
    {{/image}}
{{/data}}