// ------------------------------------------ \\
// Announcements
// ------------------------------------------ \\

#site-news-forum {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 20px;

    @include clearfix; /* stylelint-disable-line */

    h2 {
        margin-bottom: 35px;
        padding-left: 15px;
    }

    .subscribelink {
        padding: 0 15px;
    }
    .forumaddnew {
        display: block;
        text-align: right;
        padding: 10px 15px 5px;
    }

    .forumolddiscuss {
        float: right;
        margin-right: 15px;
        margin-top: 15px;
        @extend .btn;
        @extend .btn-secondary;
    }

    .slick-list {
        width: 100%;
    }

    .slick-arrow {
        z-index: 1;
        width: 45px;
        height: 36px;
        @extend .btn;
        background-color: $brand-primary;
        border-bottom: solid 3px darken($brand-primary, 10);
    }

    .slick-prev,
    .slick-next {
        &:before {
            display: none;
        }
    }
    .slick-prev {
        left: -10px;
        color: rgba(255, 255, 255, 0.7);
    }

    .slick-next {
        right: -10px;
        color: rgba(255, 255, 255, 0.7);
    }

    .forumpost {
        float: left;
        width: 49%;
        margin: 15px 0.5%;
        padding: 0;
        border: solid 1px rgba(0, 0, 0, 0.07);
        .header,
        .maincontent,
        .side {
            margin: 0;
        }

        .header,
        .maincontent,
        .side {
            padding: 15px 30px 15px 15px;
        }

        .header {
            border-width: 1px 1px 0 1px;

            img {
                border-radius: 50%;
            }
        }

        .maincontent {
            border-width: 0 1px;
        }

    }
}

// ------------------------------------------ \\