#course-category-listings {
    .listitem {
        &[data-visible="0"] {
            .item-actions {
                .action-show {
                    display: inline-block !important;
                }
            }
        }
        > div {
            .item-actions {
                .action-hide,
                a {
                    display: inline-block !important;
                }
            }
        }
    }
    .listing-actions {
        display: inline-block !important;
        width: 100%;
        a {
            display: inline-block !important;
        }
        > .moodle-actionmenu {
            display: inline-block !important;
        }
    }
}