// ---------------------------------------------- \\
// Footer
// ---------------------------------------------- \\

#page-footer {
    color: $theme-footer-text-color;
    

    .usertour {
        @extend .container;
        margin-top: 20px;
    }

    a {
        text-decoration: none;
    }
}

.htm-footer {
    position: relative;
    
    &__top {
        position: relative;
        padding: 60px 0;
        background-color: $arm-gray-dark;


        .container {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            

            h4 {
                margin: 0;
                color: #fff;
                font-weight: bold;
                text-align: center;

                @include font-size(48px);
            }

            .social-links {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                width: 100%;
                margin: 30px 0 0 10px;
                padding: 0;

                @include media-breakpoint-up(md) {
                    flex-direction: row;
                }
    
                li {
                    display: inline-flex;
                    width: 100%;
                    margin: 0 15px 15px;
                    list-style: none;

                    @include transition(all, 0.5s, ease);

                    

                    @include media-breakpoint-up(md) {
                        width: auto;
                    }
                        
                    a {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: center;
                        text-decoration: none;

                        @include font-size(24px);
                        

                        i {
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            width: 56px;
                            height: 56px;
                            margin-right: 10px;
                            color: #fff !important; // Set as !important to override defaults
                            text-decoration: none !important; // Set as !important to override defaults
                            background: #fff;
                            border-radius: 50%;
                        }

                        span {
                            text-decoration: none;
                            text-transform: capitalize;
                        }

                        &.facebook {
                            i {
                                background-color: #3765A3;
                            }
                        }

                        &.twitter {
                            i {
                                background-color: #2ca8d2;
                            }
                        }

                        &.instagram {
                            i {
                                background-color: #3a6370;
                            }
                        }

                        &.youtube {
                            i {
                                background-color: #EE192C;
                            }
                        }

                        &.linkedin {
                            i {
                                background-color: #007bb5;
                            }
                        }
                    }
                }
            }
        }
    }

    &__main,
    &__bottom {
        background-color: $arm-gray-darkest;
    }

    &__main {
        padding: 60px 0 0 0;

        .footer-logo {
            display: flex;
            justify-content: center;
            width: 100%;
            margin: 30px 0 60px;

            img {
                display: block;
                width: 100%;
                max-width: 400px;
                height: auto;
            }
        }

        .footer-widget {
            h4 {
                margin: 0;
                color: $arm-gray;

                &:after {
                    display: block;
                    width: 100px;
                    height: 3px;
                    margin: 30px 0;
                    background-color: $theme-brand-primary;
                    content: '';
                }
            }

            ul {
                padding: 0;

                li {
                    margin-bottom: 15px;
                    list-style: none;

                    a {
                        display: block;
                        width: 100%;
                        color: #fff;
                        text-decoration: none;

                        &:hover {
                            
                        }
                    }
                }
            }
        }
    }

    &__bottom {
        padding: 20px 0;   
        
        .container {
            position: relative;
            
            &:before {
                position: absolute;
                top: 0;
                left: 15px;
                right: 15px;
                height: 1px;
                background-color: $arm-gray;
                content: '';    
            }

            .footer-logo--bottom {
                display: flex;
                justify-content: center;
                width: 100%;

                img {
                    max-width: 210px;
                }
            }

            ul {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                margin: 30px 0 60px;

                @include media-breakpoint-up(lg) {
                    flex-direction: row;
                }

                li {
                    display: inline-flex;
                    position: relative;
                    list-style: none;

                    @include media-breakpoint-up(lg) {
                        &:after {
                            display: block;
                            width: 1px;
                            height: 27px;
                            margin: 0 27px;
                            background: $arm-gray;
                            content: '';
                        }
                    }

                    a {
                        color: $arm-gray-light;
                    }

                    &:last-child {
                        &:after {
                            display: none;
                        }
                    }
                }
            }

            .footnote {
                margin-top: 40px;

                p {
                    text-align: center;

                    @include font-size(12px);
                }
            }
        }

        p,
        a {
            color: #fff;
        }
    }
}

// ---------------------------------------------- \\