// ------------------------------------------ \\
// General Header Styles
// ------------------------------------------ \\

.htm-header {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 120px;
    padding: 10px 0;
    z-index: 2000;
    background: rgb(51,62,72);
    background: linear-gradient(180deg, rgba(51,62,72,1) 0%, rgba(51,62,72,0) 100%); 

    @include media-breakpoint-up(lg) {
        height: 270px;
        padding-top: 30px;
        padding-bottom: 30px;

        .drawer-toggle {
            position: relative;
            top: -5px;
            left: -20px;
        }
    }

    @media(min-width:1200px) {
        .drawer-toggle {
            top: 0;
        }
    }

    @media(min-width:1800px) {
        .drawer-toggle {
            top: 5px;
        }
    }
    

    &__search {
        order: 2;
    }

    &__nav {
        order: 1;
    }

    @include media-breakpoint-up(lg) {
        padding: 45px 0;

        &__search {
            order: 1;
        }
    
        &__nav {
            order: 2;
        }
    }

    &--inner {
        position: relative;
        height: auto;
        padding: 20px 0;
        background-color: $arm-gray-darkest;

        .htm-header__logo {
            width: calc(100% - 40px);
            margin-top: 0 !important;
            margin-bottom: 0;
            
            .navbar-brand {
                max-width: 400px;
            }
        }

        @media(min-width:1800px) {
            .drawer-toggle {
                top: 0px;
            }
        }

    }
}

// ------------------------------------------ \\


.htm-header__usermenu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;

    @include media-breakpoint-up(md) {
        margin-top: 0;
    }
}

// ------------------------------------------ \\
// Logo
// ------------------------------------------ \\

.htm-header {
    &__logo {
        display: flex;
        align-items: center;
        margin: 5px 0 0 0;

        @include media-breakpoint-up(lg) {
            margin-top: 0;
        }

        .navbar-brand {
            width: 100%;
            padding: 0;
            
            img {
                display: block;
                width: 100%;
                max-width: 225px;
                height: auto;

                @include media-breakpoint-up(lg) {
                    max-width: 100%;
                }
            }   
        }
    }
}

// ------------------------------------------ \\