/*****************************************/
/* Page */
/*****************************************/

.content-wrapper {
    background-image: $sitebackground-image;
    background-size: $theme-sitebackground-image-size;
    background-repeat: $theme-sitebackground-image-repeat;
    background-position: $theme-sitebackground-image-position;
    background-attachment: $theme-sitebackground-image-attachment;
}

#page {
    margin-top: 0;
}

#page-wrapper {
    padding-bottom: 0;
    margin-bottom: -229px;
    &:after {
        min-height: 0;
    }
}

#page-header {
    

    .card {
        background: none;
    }

    .card-block {
        padding: 30px;
    }
}

#region-main-box {
    width: 100%;
}

#region-main {
    float: unset !important;

    &.has-blocks {
        width: 100%;
        @include media-breakpoint-up(lg) {
            
        }
    }
}

#region-main-settings-menu {
    float: right;
    width: auto;
    > div {
        position: relative;
    }
}
