// ---------------------------------------------- \\
// Quicklinks 
// ---------------------------------------------- \\

.quicklink-section {
    padding-left: 30px;
    padding-right: 30px;
    background-color: $arm-gray-dark;

    @include media-breakpoint-up(lg) {
        padding-left: 0;
        padding-right: 0;

    }
}

.quicklinks {
    width: 100%;
}

.quicklink-heading {
    flex: 0 0 100%;
    padding: 0 15px;

    h2 {
        color: $arm-gray-light;
        text-align: center;

        &:after {
            display: block;
            width: 260px;
            height: 3px;
            margin: 40px auto;
            background-color: $arm-orange;
            content: '';
        }
    }
}

.quicklink-item {
    position: relative;
    margin: 10px 0;
    padding-left: 10px;
    padding-right: 10px;
    

    .inner {
        padding: 50px;
        text-align: center;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    }

    &__image {
        img {
            @include responsive-image;
            max-width: 250px;
            margin: auto;
        }
    }

    &__content {
        
    }

    span.title-small {
        font-weight: 900;

        @include font-size(16px);
    }

    h3 {
        margin-bottom: 20px;
        font-weight: 300;

        @include font-size(28px);

        &:after {
            display: block;
            width: 90px;
            height: 3px;
            margin: 20px auto;
            background-color: $arm-orange;
            content: '';
        }
    }

    p {
        color: inherit;
    }

    a {
        display: flex;
        align-items: center;
        padding: 14px 30px;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        text-align: left;
        background: $arm-orange;
        border-radius: 50px;

        @include transition(all, 0.15s, ease-in-out); /* stylelint-disable-line */

        i {
            margin-left: auto;
        }

        &:hover {
            color: #fff;
            background-color: $theme-brand-primary;
        }
    }

}

// ---------------------------------------------- \\