// ------------------------------------------ \\
// Slider wrapper
// ------------------------------------------ \\

#fpSlider {
    height: 700px;
    padding: 0;
    background-color: $arm-gray-darkest;

    @include media-breakpoint-up(md) {
        height: 600px;
    }

    @include media-breakpoint-up(lg) {
        height: 900px;
    }

    .carousel-inner {
        height: 100%;
    }

    .container {
        position: relative;

        .row {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
}

// ------------------------------------------ \\
// Slides
// ------------------------------------------ \\

.carousel-item {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: $slide-background-position;
    background-size: $slide-background-size;

    
    &-left {
        transform: translateX(-100%);
    }

    &-right {
        transform: translateX(100%);
    }

    &.active {
        transform: translateX(0);
    }

    &__inner {
        display: flex;
        align-items: center;
        height: 100%;

        h1,
        p {
            color: #fff;
        }

        h1 {
            @include font-size(60px);
        }

        p {
            &:after {
                display: block;
                width: 185px;
                height: 5px;
                margin: 30px 0 90px;
                background-color: $theme-brand-primary;
                content: '';
            }
        }

        .btn {
            display: inline-flex;
            flex-wrap: wrap;
            align-items: center;
            margin-top: 15px;
            margin-bottom: 10px;
            padding: 6px 60px 6px 20px;
            color: $gray;
            text-align: left;
            background-color: $theme-brand-primary;
            border-radius: 50px;

            @include font-size(16px);

           i {
               margin-left: 40px;
           }
        }
    }
}

// ------------------------------------------ \\
// Carousel Fade
// ------------------------------------------ \\

.carousel-fade {
    .carousel-inner {
        .carousel-item {
            transition-property: opacity;
        }

        .carousel-item,
        .active.carousel-item-left,
        .active.carousel-item-right {
            opacity: 0;
        }

        .active,
        .next.carousel-item-next,
        .prev.carousel-item-prev {
            opacity: 1;
        }

        .next,
        .prev,
        .active.carousel-item-left,
        .active.carousel-item-right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }
}

// ------------------------------------------ \\
// Carousel controls
// ------------------------------------------ \\

.carousel-control {
    font-size: 20px;

    &.right,
    &.left {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        width: auto;
        color: #fff;
        background: none;
    }

    &.left {
        left: 60px;

        @include media-breakpoint-up(md) {
            //left: -55px;
        }

        @include media-breakpoint-up(lg) {
            
        }
    }

    &.right {
        right: 60px;

        @include media-breakpoint-up(md) {
            //right: -55px;
        }

        @include media-breakpoint-up(lg) {
            
        }
    }

    svg,
    i {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
    }
}

// ------------------------------------------ \\
// Carousel Indicators
// ------------------------------------------ \\

.carousel-indicators {
    li {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 1px;
        margin-left: 3px;
        margin-right: 3px;
        text-indent: -999px;
        cursor: pointer;
        background-color: rgba(0,0,0,0);
        border: 1px solid #fff;
        border-radius: 10px;

        &.active {
            width: 12px;
            height: 12px;
            margin: 0;
            background-color: #fff;
        }
    }
}


//////////////
// MOODLE FIX
//////////////


//Because Moodle decided to comment out all the code not just the broken bit.
.carousel-item-next.carousel-item-left,
.carousel-item-prev.carousel-item-right {
    transform: translateX(0);

    /*
    @supports (transform-style: preserve-3d) {
        transform: translate3d(0, 0, 0);
    }
    */
}

.carousel-item-next,
.active.carousel-item-right {
    transform: translateX(100%);
    /*
    @supports (transform-style: preserve-3d) {
        transform: translate3d(100%, 0, 0);
    }
    */
}

.carousel-item-prev,
.active.carousel-item-left {
    transform: translateX(-100%);

    /*
    @supports (transform-style: preserve-3d) {
        transform: translate3d(-100%, 0, 0);
    }
    */
}