a {
    color: $link-color;

    &:link,
    &:visited {
        text-decoration: none;
    }
    
    &:focus,
    &:hover {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
    }

    &:focus {
        outline-offset: 0;
        text-decoration: none;
    }
}

// ---------------------------------------------- \\
// Global Typography Styles
// ---------------------------------------------- \\

body {
    //font-family: $theme-site-font;
    
    @include font-size(16px);
}

// ---------------------------------------------- \\
// Headings
// ---------------------------------------------- \\

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 30px;
    color: #333;
    font-weight: 600;
}

h1 {

}


// ---------------------------------------------- \\
// Paragraphs
// ---------------------------------------------- \\

p {
    
}

// ---------------------------------------------- \\