{{!
 * @package   block_iomad_company_admin
 * @copyright 2021 Derick Turner
 * @author    Derick Turner
 * @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
 }}

    <div class="card lpcard">
        <div class="row">
            <div class="col-md-4 my-auto">
                <div class="card-block">
                    <img class="card-img dashboard-list-img mw-100" src="{{{ imageurl }}}" />
                </div>
            </div>
            <div class="col-md-8 px-3">
                <div class="card-block">
                    {{# available}}
                        <p class="coursetitle m-b-0">
                            <strong>
                                <a href="{{ link }}" data-id="{{ id }}">{{ fullname }}</a>
                            </strong>
                        </p>
                    {{/ available}}
                    {{^ available}}
                        <p class="coursetitle m-b-0"><dimmed>{{ fullname }}</dimmed></p>
                    {{/ available}}

                    {{{ summary }}}
                    {{# hasprogress }}
                        {{#zeroprogress}}
                            <div class="progress m-t-1">
                                <div class="progress-bar progress-bar-striped bg-none" role="progressbar" style="width: 100%;"
                                    aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                            </div>
                        {{/zeroprogress}}
                        {{^zeroprogress}}
                            <div class="progress m-t-1">
                                <div class="progress-bar progress-bar-striped bg-success progress-bar{{progresspercent}}" role="progressbar" style="width: {{ progresspercent}}%;"
                                    aria-valuenow="{{ progresspercent }}" aria-valuemin="0" aria-valuemax="100">{{ progresspercent }}%</div>
                            </div>
                        {{/zeroprogress}}
                    {{/ hasprogress }}
                    {{^ hasprogress }}
                        {{# available}}
                            <div class="alert alert-warning">{{# str }}nocompletion, block_iomad_learningpath{{/ str }}</div>
                        {{/ available}}
                        {{^ available}}
                            <p class="card-text p-t-1 alert alert-warning">{{# str }}coursedepends, block_iomad_learningpath, {{ prerequisite }}{{/ str }}</p>
                        {{/ available}}
                    {{/ hasprogress }}
                </div>
            </div>
        </div>
    </div>
