/*****************************************/
/* flexbox */
/*****************************************/

.d-flex {
    display: -webkit-box !important; /* stylelint-disable-line declaration-block-no-duplicate-properties */
    display: -webkit-flex !important; /* stylelint-disable-line declaration-block-no-duplicate-properties */
    display: -ms-flexbox !important; /* stylelint-disable-line declaration-block-no-duplicate-properties */
    display: flex !important; /* stylelint-disable-line declaration-block-no-duplicate-properties */
}

.flex-row {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: row !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
}

.flex-wrap {
    flex-wrap: wrap;
}

.d-inline-flex {
    display: -webkit-inline-box !important; /* stylelint-disable-line declaration-block-no-duplicate-properties */
    display: -webkit-inline-flex !important; /* stylelint-disable-line declaration-block-no-duplicate-properties */
    display: -ms-inline-flexbox !important; /* stylelint-disable-line declaration-block-no-duplicate-properties */
    display: inline-flex !important; /* stylelint-disable-line declaration-block-no-duplicate-properties */
}

.justify-content-between {
    -webkit-box-pack: justify !important;
    -webkit-justify-content: space-between !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}

.ml-auto {
    margin-left: auto !important;
}

.align-center {
    align-items: center;
}