{{!
 * @package   block_iomad_commerce
 * @copyright 2026 e-Lean Design Ltd. https://www.e-learndesign.co.uk
 * @author    Derick Turner
 * @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
 }}

<div class="h3">{{#str}} basket, block_iomad_commerce {{/str}}</div>
{{#baskethtml}}
    <div id="id_basketcontents">
        {{{baskethtml}}}
    </div>
{{/baskethtml}}
<div class="{{basketempty}}" id="id_basketempty">
    <div class="alert alert-info alert-block fade in mt-3 " role="alert">
        {{#str}} emptybasket, block_iomad_commerce {{/str}}
    </div>
</div>
