{{!
 * @package   block_iomad_commerce
 * @copyright 2026 e-Lean Design Ltd. https://www.e-learndesign.co.uk
 * @author    Derick Turner
 * @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
 }}

    <div class="row no-gutters pb-3">
        <div class="col-6">
            {{#hasresults}}
                <span class="h4">{{#str}} searchresults, moodle {{/str}}</span>
            {{/hasresults}}
            {{^hasresults}}
                <span class="h4">{{#str}} allproducts, block_iomad_commerce {{/str}}</span>
            {{/hasresults}}
            <ul class="inline-list">
                <li>
                    <span class="font-weight-bolder">
                        {{#str}} filter_by_tag, block_iomad_commerce {{/str}}:
                    </span>
                </li>
                {{#tags}}
                    <li>
                        <a href="{{tagurl}}">
                            {{#selected}}
                                <span class="flagged-tag font-weight-bold">{{tagname}}</span>
                            {{/selected}}
                            {{^selected}}
                                {{tagname}}
                            {{/selected}}
                        </a>
                    </li>
                {{/tags}}
            </ul>
        </div>
        <div class="col-6">
            <div class="simplesearchform d-flex justify-content-end" id="shoptagsearch">
                <form
                    method="get"
                    autocomplete="off"
                    accept-charset="utf-8"
                    class="mform d-flex flex-wrap align-items-center simplesearchform">
                    <div class="input-group">
                        <label for="id_productsearchinput">
                            <span class="sr-only">{{#str}} search, moodle {{/str}}</span>
                        </label>
                        <input
                            type="text"
                            name="q"
                            id="id_productsearchinput"
                            class="form-control"
                            placeholder="{{#str}} search, moodle {{/str}}"
                            aria-label="{{#str}} search, moodle {{/str}}"
                            value="{{searchkey}}"
                            data-region="input"
                        >
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary search-icon">
                                <i class="icon fa fa-magnifying-glass fa-fw " aria-hidden="true"></i>
                                <span class="sr-only">{{#str}} search, moodle {{/str}}</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{{#itemcount}}
    {{{pagingbar}}}
    <div class='card-grid mx-0 row row-cols-4 row-cols-sm-1 row-cols-lg-4'>
        {{> block_iomad_commerce/shop_item}}
    </div>
    {{{pagingbar}}}
{{/itemcount}}
{{^itemcount}}
    <div class="alert alert-info alert-block fade in mt-3 " role="alert">
        {{#str}} nocoursesontheshop, block_iomad_commerce {{/str}}
    </div>
{{/itemcount}}