<h2>{{event_name}}</h2>
<table class='trainingeventdetails'>
    <tbody>
        <tr>
            <th>{{#str}}location, trainingevent{{/str}}</th>
            <td>{{{location}}}</td>
        </tr>
        {{#trainingeventdetails_array}}
            <tr>
                <th>{{0}}</th>
                <td>{{1}}</td>
            </tr>
        {{/trainingeventdetails_array}}
        {{#attending}}
            <tr>
                <th>{{#str}}exportcalendar, trainingevent{{/str}}</th>
                <td><a href="{{{attending}}}" class='btn btn-secondary'>{{#str}}exportbutton, calendar{{/str}}</a></td>
            </tr>
        {{/attending}}
        {{#capacity_array}}
            <tr>
                <th>{{#str}}capacity, trainingevent{{/str}}</th>
                <td>{{0}} {{#str}}of, trainingevent{{/str}} {{1}}</td>
            </tr>
        {{/capacity_array}}
    </tbody>
</table>
{{#eventstatus_array}}
    <h2>{{.}}</h2>
{{/eventstatus_array}}
{{#button}}
<a role="button" class="btn btn-secondary" data-action="show-Attendanceform"
                                           data-companyid="{{0}}"
                                           data-trainingeventid="{{1}}"
                                           data-cmid="{{2}}"
                                           data-waitlisted="{{3}}"
                                           data-attendanceid="{{4}}"
                                           data-approvaltype="{{6}}"
                                           data-userid="{{7}}"
                                           data-courseid="{{8}}"
                                           data-dorefresh="1"
                                           data-requesttype="{{9}}" href="#">{{5}}</a>
{{/button}}