@font-face {
    font-family: 'swiper-icons';
    src: url('data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA') format('woff');
    font-weight: 400;
    font-style: normal;
}

.swiper {
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0 0 44px 0;
    /* Fix of Webkit flickering */
    z-index: 1;
}

.swiper-vertical>.swiper-wrapper {
    flex-direction: column;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-wrapper {
    transform: translate3d(0px, 0, 0);
}

.swiper-pointer-events {
    touch-action: pan-y;

    &.swiper-vertical {
        touch-action: pan-x;
    }
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}

.swiper-slide-bottom-gap {
    margin-bottom: 40px;
}

.swiper-slide-invisible-blank {
    visibility: hidden;
}

/* Auto Height */
.swiper-autoheight {

    &,
    .swiper-slide {
        height: auto;
    }

    .swiper-wrapper {
        align-items: flex-start;
        transition-property: transform, height;
    }
}

/* 3D Effects */
.swiper-3d {

    &,
    &.swiper-css-mode .swiper-wrapper {
        perspective: 1200px;
    }

    .swiper-wrapper,
    .swiper-slide,
    .swiper-slide-shadow,
    .swiper-slide-shadow-left,
    .swiper-slide-shadow-right,
    .swiper-slide-shadow-top,
    .swiper-slide-shadow-bottom,
    .swiper-cube-shadow {
        transform-style: preserve-3d;
    }

    .swiper-slide-shadow,
    .swiper-slide-shadow-left,
    .swiper-slide-shadow-right,
    .swiper-slide-shadow-top,
    .swiper-slide-shadow-bottom {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 10;
    }

    .swiper-slide-shadow {
        background: rgba(0, 0, 0, 0.15);
    }

    .swiper-slide-shadow-left {
        background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    }

    .swiper-slide-shadow-right {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    }

    .swiper-slide-shadow-top {
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    }

    .swiper-slide-shadow-bottom {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    }
}

/* CSS Mode */
.swiper-css-mode {
    >.swiper-wrapper {
        overflow: auto;
        scrollbar-width: none;
        /* For Firefox */
        -ms-overflow-style: none;

        /* For Internet Explorer and Edge */
        &::-webkit-scrollbar {
            display: none;
        }
    }

    >.swiper-wrapper>.swiper-slide {
        scroll-snap-align: start start;
    }
}

.swiper-horizontal.swiper-css-mode {
    >.swiper-wrapper {
        scroll-snap-type: x mandatory;
    }
}

.swiper-vertical.swiper-css-mode {
    >.swiper-wrapper {
        scroll-snap-type: y mandatory;
    }
}

.swiper-centered {
    >.swiper-wrapper::before {
        content: '';
        flex-shrink: 0;
        order: 9999;
    }

    &.swiper-horizontal {
        >.swiper-wrapper>.swiper-slide:first-child {
            margin-inline-start: var(--swiper-centered-offset-before);
        }

        >.swiper-wrapper::before {
            height: 100%;
            width: var(--swiper-centered-offset-after);
        }
    }

    &.swiper-vertical {
        >.swiper-wrapper>.swiper-slide:first-child {
            margin-block-start: var(--swiper-centered-offset-before);
        }

        >.swiper-wrapper::before {
            width: 100%;
            height: var(--swiper-centered-offset-after);
        }
    }

    >.swiper-wrapper>.swiper-slide {
        scroll-snap-align: center center;
    }
}



/* a11y */
.swiper .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000;
}

//Effect Creative
.swiper-creative {
    .swiper-slide {
        backface-visibility: hidden;
        overflow: hidden;
        transition-property: transform, opacity, height;
    }
}

//Grid
.swiper-grid>.swiper-wrapper {
    flex-wrap: wrap;
}

.swiper-grid-column>.swiper-wrapper {
    flex-wrap: wrap;
    flex-direction: column;
}


//Navigation
.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: calc(50% - 25px);
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &.swiper-button-disabled {
        opacity: 0.35;
        cursor: auto;
        pointer-events: none;
        display: none !important;
    }
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    &:after {
        content: '';
        background-color: rgba($gray-100, .5);
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='#{url-friendly-colour($body-color)}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M10.25 6.75L4.75 12L10.25 17.25'%3E%3C/path%3E%3Cpath stroke='#{url-friendly-colour($body-color)}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19.25 12H5'%3E%3C/path%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center;

        width: 50px;
        height: 50px;
        border-radius: 50px;
        transition: $transition-base;
    }

    &:hover:after {
        background-color: rgba($gray-900, .8);
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='#{url-friendly-colour($gray-100)}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M10.25 6.75L4.75 12L10.25 17.25'%3E%3C/path%3E%3Cpath stroke='#{url-friendly-colour($gray-100)}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19.25 12H5'%3E%3C/path%3E%3C/svg%3E%0A");
    }

    left: 10px;
    right: auto;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    &:after {
        content: '';
        background-color: rgba($gray-100, .8);
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='#{url-friendly-colour($body-color)}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M13.75 6.75L19.25 12L13.75 17.25'%3E%3C/path%3E%3Cpath stroke='#{url-friendly-colour($body-color)}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19 12H4.75'%3E%3C/path%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        transition: $transition-base;
    }

    &:hover:after {
        background-color: rgba($gray-900, .8);
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='#{url-friendly-colour($gray-100)}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M13.75 6.75L19.25 12L13.75 17.25'%3E%3C/path%3E%3Cpath stroke='#{url-friendly-colour($gray-100)}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19 12H4.75'%3E%3C/path%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
    }

    right: 10px;
    left: auto;
}

.swiper-button-lock {
    display: none;
}

//Pagination
.swiper-pagination {
    position: absolute;
    text-align: center;
    transition: 300ms opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;

    &.swiper-pagination-hidden {
        opacity: 0;
    }
}

/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 10px;
    left: 50px;
    width: calc(100% - 100px);
}

/* Bullets */
.swiper-pagination-bullets-dynamic {
    overflow: hidden;
    font-size: 0px;

    .swiper-pagination-bullet {
        transform: scale(0.33);
        position: relative;
    }

    .swiper-pagination-bullet-active {
        transform: scale(1);
    }

    .swiper-pagination-bullet-active-main {
        transform: scale(1);
    }

    .swiper-pagination-bullet-active-prev {
        transform: scale(0.66);
    }

    .swiper-pagination-bullet-active-prev-prev {
        transform: scale(0.33);
    }

    .swiper-pagination-bullet-active-next {
        transform: scale(0.66);
    }

    .swiper-pagination-bullet-active-next-next {
        transform: scale(0.33);
    }
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 8px;
    background: $black;
    opacity: 0.2;

    .theme-dark & {
        background: $white;
    }

    @at-root button#{&} {
        border: none;
        margin: 0;
        padding: 0;
        box-shadow: none;
        appearance: none;
    }

    .swiper-pagination-clickable & {
        cursor: pointer;
    }

    &:only-child {
        display: none !important;
    }
}

.swiper-pagination-bullet-active {
    opacity: 1;
    width: 16px;
    background: var(--primary-color-500);
}

.swiper-vertical>.swiper-pagination-bullets,
.swiper-pagination-vertical.swiper-pagination-bullets {
    right: 10px;
    top: 50%;
    transform: translate3d(0px, -50%, 0);

    .swiper-pagination-bullet {
        margin: 6px 0;
        display: block;
    }

    &.swiper-pagination-bullets-dynamic {
        top: 50%;
        transform: translateY(-50%);
        width: 8px;

        .swiper-pagination-bullet {
            display: inline-block;
            transition: 200ms transform, 200ms top;
        }
    }
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-horizontal.swiper-pagination-bullets {
    .swiper-pagination-bullet {
        margin: 0 4px;
    }

    &.swiper-pagination-bullets-dynamic {
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;

        .swiper-pagination-bullet {
            transition: 200ms transform, 200ms left;
        }
    }
}

.swiper-horizontal.swiper-rtl>.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    transition: 200ms transform, 200ms right;
}

/* Progress */
.swiper-pagination-progressbar {
    background: rgba(0, 0, 0, 0.25);
    position: absolute;

    .swiper-pagination-progressbar-fill {
        background: var(--primary-color-300);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform: scale(0);
        transform-origin: left top;
    }

    .swiper-rtl & .swiper-pagination-progressbar-fill {
        transform-origin: right top;
    }

    .swiper-horizontal>&,
    &.swiper-pagination-horizontal,
    .swiper-vertical>&.swiper-pagination-progressbar-opposite,
    &.swiper-pagination-vertical.swiper-pagination-progressbar-opposite {
        width: calc(100% - 20px);
        height: 5px;
        left: 10px;
        top: 10px;
        border-radius: $btn-border-radius;
        overflow: hidden;
    }

    .swiper-vertical>&,
    &.swiper-pagination-vertical,
    .swiper-horizontal>&.swiper-pagination-progressbar-opposite,
    &.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite {
        width: 5px;
        height: calc(100% - 10px);
        left: 5px;
        top: 5px;
        overflow: hidden;
        border-radius: $btn-border-radius;
    }
}

.swiper-pagination-lock {
    display: none;
}


/* CSS Mode */
.swiper-css-mode {
    >.swiper-wrapper {
        overflow: auto;
        scrollbar-width: none;
        /* For Firefox */
        -ms-overflow-style: none;

        /* For Internet Explorer and Edge */
        &::-webkit-scrollbar {
            display: none;
        }
    }

    >.swiper-wrapper>.swiper-slide {
        scroll-snap-align: start start;
    }
}

.swiper-horizontal.swiper-css-mode {
    >.swiper-wrapper {
        scroll-snap-type: x mandatory;
    }
}

.swiper-vertical.swiper-css-mode {
    >.swiper-wrapper {
        scroll-snap-type: y mandatory;
    }
}

.swiper-centered {
    >.swiper-wrapper::before {
        content: '';
        flex-shrink: 0;
        order: 9999;
    }

    &.swiper-horizontal {
        >.swiper-wrapper>.swiper-slide:first-child {
            margin-inline-start: var(--swiper-centered-offset-before);
        }

        >.swiper-wrapper::before {
            height: 100%;
            width: var(--swiper-centered-offset-after);
        }
    }

    &.swiper-vertical {
        >.swiper-wrapper>.swiper-slide:first-child {
            margin-block-start: var(--swiper-centered-offset-before);
        }

        >.swiper-wrapper::before {
            width: 100%;
            height: var(--swiper-centered-offset-after);
        }
    }

    >.swiper-wrapper>.swiper-slide {
        scroll-snap-align: center center;
    }
}