.block-myoverview,
.block_myoverview {
    padding: 0;
    color: #fff;
    background: none !important;
    box-shadow: none !important;

    

    // Block Title
    .card-block {
        background: none !important;
        box-shadow: none !important;

        .card-title {
            color: $arm-gray-light;

            &:after {
                display: block;
                width: 120px;
                height: 5px;
                margin: 30px 0;
                background-color: $theme-brand-primary;
                content: '';
            }
        }

        .card-text {
            padding: 0;
        }
    }

    .nav-tabs {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20px;
        border-bottom: solid 5px $theme-brand-primary;

        .nav-item {
            width: 100%;
            font-size: 16px;

            @include media-breakpoint-up(md) {
                width: auto;
            }

            & + .nav-item {
                margin: 0;
            }
        }
    
        .nav-link {
            width: 100%;
            border-radius: 0;
            border: none;
            padding: .5em 70px;
            color: $arm-gray-darkest;
            font-weight: bold;
            text-align: center;
            background-color: $arm-gray-light;

            &.active {
                background-color: $brand-primary;
            }
        }
        
    }

    .tab-content {

        .nav-pills {
            .nav-item {
                margin-right: 10px;

                .btn {
                    margin-bottom: 10px;
                    padding-left: 40px;
                    padding-right: 40px;
                    color: $arm-gray-darkest;
                    border-radius: 50px;

                    @include media-breakpoint-up(md) {
                        margin-bottom: 0;
                    }
                }
            }
        }

        .tab-content {
            margin-top: 20px;
        }
    }

    .course-events-container {
        .course-info-wrapper {
            flex: 1 1 100%;
            @include media-breakpoint-up(md) {
                flex: 1;
                padding-left: 0;
            }
        }
        .separator {
            width: 100%;
            height: 1px;
            margin: 0 30px;
            background-color: $arm-gray;

            @include media-breakpoint-up(md) {
                width: 1px;
                margin: 30px 0;
                height: auto;
            }
        }
        .event-list-wrapper {
            flex: 1 1 100%;
            padding: 0 15px;
            @include media-breakpoint-up(md) {
                flex: 2;
            }
        }
    }

    

    
    .course-info-container {
        float: left;
        position: relative;
        width: calc(100% - 1px);
        height: calc(100% - 30px);
        padding-bottom: 55px;
        margin-bottom: 30px;

        .course-image {
            float: left;
            width: 100%;
            border-radius: 2px 2px 0 0;
            // overflow: hidden;
            position: relative;
            min-height: 10px;
            img {
                width: 100%;
            }

            .course-progress-container {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1070;
                // transform: translate(0, 30px);
                // height: 30px;
                background-color: rgba(190, 190, 190, 0.8);

                transition: 0.15s;

                span {
                    padding: 6px 10px;
                    //color: $gray-dark;
                }

                .course-progress-popup {
                    position: relative;
                    width: 100%;

                    span {
                        display: block;
                        position: absolute;
                        left: 50%;
                        transform: translate(-50%, -18px);
                        opacity: 0;
                        top: -20px;
                        width: 50px;
                        color: #fff;
                        font-size: 12px;
                        font-weight: bold;
                        text-align: center;
                        background-color: #090909;
                        border-radius: 4px;

                        transition: 0.3s;

                        &:after {
                            position: absolute;
                            bottom: -12px;
                            right: 0;
                            left: 50%;
                            transform: translate(-50%, 0);
                            width: 0;
                            height: 0;
                            border-left: solid 8px transparent;
                            border-top: solid 8px #090909;
                            border-right: solid 8px transparent;
                            border-bottom: solid 8px transparent;
                            content: '';
                        }
                    }
                }

                &:hover,
                &:active {
                    .course-progress-popup {
                        span {
                            transform: translate(-50%, -15px);
                            opacity: 1;
                        }
                    }
                }

                .course-progress-bar {
                    background-color: $brand-primary;
                    height: 10px;
                }
            }


        }

        &:hover {
            .course-image {
                .course-progress-container {
                    transform: translate(0, 0);
                }
            }
        }

        .course-title {
            float: left;
            width: 100%;
            font-size: 20px;
            color: $arm-gray-light;
            padding-top: 15px;
            padding-left: 45px;
            padding-right: 45px;

            &:after {
                display: block;
                width: 120px;
                height: 5px;
                margin: 30px 0;
                background-color: $arm-blue;
                content: '';
            }

            a {
                color: $arm-gray-light;
            }
        }
        .course-summary {
            float: left;
            width: 100%;
            font-size: 12px;
            line-height: 22px;
            padding-left: 45px;
            padding-right: 45px;
            padding-bottom: 20px;
        }

        .course-link {
            padding-left: 45px;
            padding-right: 45px;

            .btn {
                background-color: $arm-blue;
            }
        }
    }

    .event-list-group-container {
        .event-group-title {
            font-weight: 400;
            margin-top: 30px;
            margin-bottom: 10px;
            color: #fff;
        }

        .event-list-item {
            &:nth-child(odd) {
                //background-color: #ebebeb;
            }
            &:nth-child(even) {
                //background-color: #efefef;
            }
            .event-icon {
                flex: 0 0 50px;
            }
            .event-complete-date {
                flex: 0 0 90px;
            }
        }
    }

    // Pagination
    .pagination {
        display: flex;
        justify-content: center;
        width: 100%;

        li {
            margin: 0 5px;

            a {
                color: #fff;
                background-color: $arm-gray;
                border: none;
                border-radius: 5px;
            }
        }
    }
}